---
import { integ } from '../site.config'

// This is a wrapper for the Waline comment system
// Since the Comment component was removed from astro-pure/advanced
---

{
  integ.waline?.enable && (
    <div class="waline-container">
      <div id="waline"></div>
      <script define:vars={{ serverURL: integ.waline.server }} is:inline>
        import { init } from 'https://unpkg.com/@waline/client@3.1.3/dist/waline.js';
        
        init({
          el: '#waline',
          serverURL,
          ...Object.assign(
            {},
            {/* Additional configs from site config */},
          ),
        });
      </script>
    </div>
  )
}
